body {
  background-color: #000;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  color: #fff;
}

.app, .gameplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
}

.gameHeader {
  width: 35vw;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2vw;
}

.square,
.headerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid greenyellow;
  cursor: pointer;
  background-color: rgb(64, 94, 19);
}

.square {
    /* width: 3.5vw;
    height: 3.5vw; */
    position: relative;
}

.mine {
  color: black;
  background-color: rgb(142, 0, 0);
}

.tile {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.tile.cover {
  background-color: black;
}

.tile.flag {
  background-color: rgb(89, 0, 0);
}

.headerItem {
  background-color: black;
  height: 2.5vw;
}

.headerItem.timer {
    width: 10vw;
}

.headerItem.smiley {
    width: 5vw;
    font-size: 2em;
}

.headerItem.mineCount {
    width: 10vw;
}

.modalBackground {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.winh1 {
  font-size: 3em;
}
.winh2 {
  font-size: 2em;
}

