@keyframes glowBorder {
  0% {
    border-color: rgb(213, 117, 0);
    box-shadow: 0 0 5px rgba(213, 117, 0, 0.2),
      inset 0 0 5px rgba(213, 117, 0, 0.1), 0 2px 0 #000;
  }
  100% {
    border-color: rgb(255, 140, 0);
    box-shadow: 0 0 20px rgba(255, 140, 0, 0.6),
      inset 0 0 10px rgba(255, 140, 0, 0.4), 0 2px 0 #000;
  }
}

@keyframes glowSquare {
  0% {
    /* background-color: rgb(184, 101, 0); */
    border-color: rgb(255, 140, 0);
    box-shadow: 0 0 20px rgba(255, 140, 0, 0.6),
      inset 0 0 10px rgba(255, 140, 0, 0.4), 0 2px 0 #000;
  }
  100% {
    /* background-color: rgb(154, 84, 0); */
    border-color: rgb(213, 117, 0);
    box-shadow: 0 0 5px rgba(213, 117, 0, 0.2),
      inset 0 0 5px rgba(213, 117, 0, 0.1), 0 2px 0 #000;
  }
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Orbitron", sans-serif;
}

h1 {
  color: #fff;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.setup {
  border: 2px solid rgb(27, 27, 186);
  box-shadow: 0 0 20px rgba(0, 178, 254, 0.6),
    inset 0 0 10px rgba(0, 178, 254, 0.4), 0 2px 0 #000;
  border-radius: 5vw;
  padding: 3vw;
}

.setupForm {
  height: 40vh;
  font-size: 1.5em;
  color: greenyellow;
}

.button {
  width: 10vw;
  height: 3vw;
  padding: 1vh;
  border: 2px solid greenyellow;
  border-radius: 5vw;
  cursor: pointer;
  margin: 1.5vh auto;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.2em;
}

.button:active,
.smiley:active {
  border-color: rgb(255, 140, 0);
  box-shadow: 0 0 20px rgba(255, 140, 0, 0.6),
    inset 0 0 10px rgba(255, 140, 0, 0.4), 0 2px 0 #000;
  /* color: darkorange; */
}

.gameTitle {
  font-size: 2.5em;
  cursor: pointer;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.gameTitle.big {
  font-size: 4em;
}

input {
  height: 3vw;
  width: 12vw;
  font-size: 1em;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 5vw;
  border-style: solid;
  border-width: 2px;
  border-color: greenyellow;
  border-image: none;
  outline: none;
  margin-top: 2vh;
}

input:focus {
  animation: glowBorder 800ms ease-out infinite alternate;
}

.app,
.gameplay,
.button,
.setupForm,
.formContainer,
.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
}

.gameHeader {
  width: 35vw;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2vw;
}

.headerItem,
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.headerItem {
  border: 1px solid greenyellow;
  background-color: rgb(64, 94, 19);
  box-shadow: 0 0 5px rgba(173, 255, 47, 0.6),
    inset 0 0 5px rgba(173, 255, 47, 0.4), 0 2px 0 #000;
}

.square.visible {
  cursor: default;
  position: relative;
  border: 1px solid rgb(0, 178, 254);
  background-color: rgb(27, 27, 186);
  box-shadow: 0 0 20px rgba(0, 178, 254, 0.6),
    inset 0 0 10px rgba(0, 178, 254, 0.4), 0 2px 0 #000;
}

.square.loss.visible {
  background-color: rgb(184, 101, 0);
  border: 1px solid rgb(255, 140, 0);
  box-shadow: 0 0 20px rgba(255, 140, 0, 0.6),
    inset 0 0 10px rgba(255, 140, 0, 0.4), 0 2px 0 #000;
}

.square.mine.visible {
  color: rgb(206, 0, 0);
  background-color: black;
  border: 1px solid red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.6), inset 0 0 5px rgba(255, 0, 0, 0.4),
    0 2px 0 #000;
}

.tile {
  height: 100%;
  width: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 10;
}

.tile.cover {
  background-color: black;
  opacity: 100%;
  border: 1px solid greenyellow;
  box-shadow: 0 0 5px rgba(173, 255, 47, 0.6),
    inset 0 0 5px rgba(173, 255, 47, 0.4), 0 2px 0 #000;
}

.tile.flag {
  background-color: black;
  border: 1px solid red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.6), inset 0 0 5px rgba(255, 0, 0, 0.4),
    0 2px 0 #000;
  font-size: 2vw;
  color: red;
  z-index: 11;
}

.headerItem {
  background-color: black;
  height: 2.5vw;
  border-radius: 5vw;
  border: 1px solid greenyellow;
  box-shadow: 0 0 5px rgba(173, 255, 47, 0.6),
    inset 0 0 5px rgba(173, 255, 47, 0.4), 0 2px 0 #000;
}

.headerItem.timer {
  width: 10vw;
}

.headerItem.smiley {
  width: 5vw;
  font-size: 2em;
  cursor: pointer;
}

.headerItem.mineCount {
  width: 10vw;
}

.modalBackground {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.winh1 {
  font-size: 3em;
}
.winh2 {
  font-size: 2em;
}

/* .square.mine::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-color: red;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.6),
  inset 0 0 10px rgba(255, 0, 0, 0.4), 0 2px 0 #000;
} */
